/* =======================
   Global Styles
======================= */
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Malgun Gothic', 'Segoe UI', sans-serif;
  overflow: hidden;
  background-color: #EBDDD0;
}

/* =======================
   Landing Page
======================= */
#logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  cursor: pointer;
}

#logo img {
  height: auto;
  display: block;
  opacity: 0.6;
  /* transition: opacity 1.5s ease;  */
}

/* #landing .hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EBDDD0;
  font-size: 32px;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
} */

/* #landing img:hover + .hover-text {
  opacity: 1;
} */