/* =======================
   Global Styles
======================= */
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Malgun Gothic', 'Segoe UI', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #EBDDD0;

  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
/* =======================
    Navbar
======================= */
#navbar {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 145px;
  z-index: 10;
}

#navbar a {
  font-size: 20px;
  text-decoration: none;
  color: #6f7867;
}

#navbar a.active {
  text-decoration: underline;
}

/* =======================
    Home Page
======================= */
#center {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  cursor: pointer;
  z-index: 1;
  pointer-events: none;
}

#center img {
  position: absolute;
  max-width: 80%;
  max-height: 80%;
}

#center img:first-child {
  opacity: 0.6;
}

/* =======================
    Discography Grid
======================= */
#discography-grid {
    position: relative;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 180px 60px 60px 60px;
    max-width: 3400px;
    margin: 0 auto;
    align-content: center;
}

.discography-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 250px;
}

.discography-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 4px;
}

.discography-card p {
    margin: 0;
    font-size: 15px;
    color: #2C3028;
    text-align: center;
    text-transform: uppercase;
}

/* =======================
    Roster Grid
======================= */
#roster-grid {
    position: relative;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 180px 60px 60px 60px;
    max-width: 3400px;
    margin: 0 auto;
    align-content: center;
}

.roster-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 150px;
}

.roster-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 4px;
}

.roster-card p {
    margin: 0;
    font-size: 15px;
    color: #2C3028;
    text-align: center;
    text-transform: uppercase;
}